{% extends 'blog/blog_base.html' %}

{% block extra_title %} 关于 {% endblock %}

{% block content %}
    <div class="container">
        <div class="user-info">
            <h3>关于我</h3>

            <p>大家好，欢迎来到我的个人技术博客。<br>我搭建这个博客的目的在于记录我在学习编程技术过程中的收获、体会和总结，并分享给大家，如果我的文章对大家有一丝的帮助，我不胜荣幸。当然，偶尔也分享生活^.^
            </p>
            <ul class="profile-list">
                <li>版权声明：自由转载-保留署名-禁止商用-禁止演绎(<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh"
                                                rel="external nofollow noopener noreferrer" target="_blank">知识共享4.0许可协议</a>)
                </li>
                <li>发表时间：2016-08-23 18:53:50</li>
                <li>永久链接：<a href="http://threehao.com/about/index.html">http://threehao.com/about/index.html</a></li>
                <li>人生感悟：不怕千万人阻挡，只怕自己投降。</li>
            </ul>
        </div>
    </div>
{% endblock %}