{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="icon" type="image/png" href="{% static 'blog/favicon.png' %}">
    <link href="https://cdn.bootcss.com/bootswatch/3.3.7/darkly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/source/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'blog/source/css/githubcode.css' %}">

    <script src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
    <link href="https://cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-minimal.css" rel="stylesheet">

    {% block extra_head %}  {% endblock %}

    <title>
        {% block extra_title %}   {% endblock %}
        {% if request.path != '/' %} · {% endif %}{{ blog_data.site_title }}
    </title>
</head>
<body>
    <div class="wrapper">
        <div class="main-container">
            {% include "blog/include/blog_nav.html" %}
            {% block content %} {% endblock %}
        </div>
    </div>
    {% include "blog/include/footer.html" %}

<script src="https://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/tether/1.4.0/js/tether.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'blog/source/js/myblog.js' %}"></script>

{% block extra_scripts %}   {% endblock %}

</body>
</html>