{% extends 'blog/blog_base.html' %}

{% block extra_title %} 所有标签 {% endblock %}

{% block content %}
    <div class="container">
        <div class="my-card">
            <h3 class="margin-top-30px"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;所有标签：</h3>

            {% if tag_dict %}
            <div class="tag-cloud">
                {% for tag_name, size in tag_dict.items %}
                    <a href="{% url 'blog:tag_filter' tag_name %}" class="size-{{ size }}">{{ tag_name }}</a>
                {% endfor %}
            </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
